<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css"></link>
  <script src="/js/htmx.min.js"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
</head>

<body id="body">

  <div class="container">
    <div id="getList">
      <button hx-get="/names" hx-swap="innerHTML" hx-target="#content">
        List of Opponents
      </button>
      <p id="content"></p>
    </div>
    <div hx-ext="class-tools">
      <div class="fade" classes="toggle faded:1s">I'm Fading!</div>
    </div>

  </div>
</body>

</html>