h1, h2, h3, h4, h5, h6, p {
  color: #666;
}

body {
  background: #EEEEEE;
  font-family: "Alegreya", serif;
  max-width: 100%;
  margin: 10px;
  overflow-x: hidden;
}

.container {
  display: flex;
  width: 100%;
}

.container > div {
  background-color: #E2E2E2;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #333333;
  border-radius: 3px;
  width: 50%;
  margin: 5px;
  min-height: 50vh;
  padding: 30px;
}

.fade {
  opacity: 1;
  transition: opacity ease-in 900ms;
}

.fade.faded {
  opacity: 0.3;
}